.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.icons-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 12px;
}

.icons {
    margin-left: 12px;
}